<div style = "margin: 0 auto; width: 300; text-align:center">
  Julian Compagni Portis</br>
  825 Battery St</br>
  San Francisco, CA 94111</br>
  415.710.1111</br>
  jcompagni@gmail.com</br>
</div>
<br>
<%=Date.today.strftime("%B %d, %Y")%> </br></br>
<% if @contact_name.blank? %>
  Hello,
<% else %>
  Dear <%= @contact_name.split(" ")[0]%>,
 <% end %> 
</br>
<p>
  I have a confession, I didn't write this cover letter. In fact, I didn't write
  the email either. Everything you have received has been dynamically generated 
  and sent by a job application program I coded. At the end of the day, I am a 
  software developer, so I figured I'd avoid the tedium and stick to what I 
  love: writing creative code to solve real problems. But rest assured, I have 
  done my research and I am genuinely interested in the <%= @position %> role
  for which you are hiring. <%= @fit_snippet %>
</p>
<p>
  In addition to writing automated job application software, I am quite 
  confident that my technical background is a perfect match for <%= @company %>. 
  I have been writing code for over seven years and have been a freelance web 
  developer for the last three. <%= @stack_snippets %> For more 
  information on my capabilities and past projects I encourage you to check out
  my portfolio at juliancompagniportis.com 
</p>
<p>
  Ultimately, I don't define myself by the languages and technologies I 
  currently know. Whether I am sending out cover letters or building websites I
  am always on the lookout for innovative technologies and tools that I can use
  to get the job done better and faster. I find that when I am learning new 
  technologies and pushing the limits of my abilities is when I perform best as 
  a developer, and quite honestly, when I am having the most fun. For this
   reason, I am incredibly excited to work for a company that <%= @purpose_snippet %>
</p>
<p>
  While I have thoroughly enjoyed my work as a freelance web developer, 
  I am excited to transition to a role where I can solve even bigger problems
  alongside a team of equally passionate developers. While I am highly 
  motivated and task driven as a solo developer, I think I am at my most 
  productive when I can work with, and learn from, those around me. For this 
  reason, I am very attracted to <%= @company %>'s devotion to creating an 
  engaging, collaborative and forward looking corporate culture.   
</p>

<p>
  I look forward to connecting with you via phone or email to hear more 
  about <%= @company %> and further discuss my fit for this position.
</p>

</br>
</br>
</br>
Sincerely,</br>
</br>
Julian Compagni Portis </br>
415.710.1111 </br>
www.juliancompagniportis.com </br>
</br>

p.s. If you're curious about the code I wrote to generate this cover letter feel free to checkout https://github.com/jcompagni10/applied
 

